---
import Layout from "../layouts/Layout.astro";
import BugsBanner from "../components/BugsBanner.astro";
import Card from "../components/Card.astro";
---

<Layout title="About Guigs">
  <div class="bugswrapper">
    <BugsBanner title="OhMyGuigs" subTitle="Olá! Fica a vontade, bem." />
  </div>
  <main>
    <h1>Esse <span class="text-gradient">lindo site</span> ainda está em construção</h1>
    <p class="instructions">
      Essa pagina foi feita usando <code>Astro</code> para fins de teste.<br
      />
      <strong>Design Challenge:</strong> Me manda mensagem com ideias de design melhores pra essa pagina e ganhe lanches.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://www.linkedin.com/in/guilherme-freitas/"
        title="Profissional"
        body="Mais de 13 anos de experiencia, da uma olhada no meu linkedin."
      />
      <Card
        href="https://open.spotify.com/artist/47xEK4LOxuIqGwps1w8nFm"
        title="Músicas"
        body="Distribuídas em todas plataformas como ohmyguigs, link para o Spotify."
      />
      <Card
        href="https://bsky.app/profile/ohmyguigs.bsky.social"
        title="Social"
        body="Me siga nas redes, link pro meu Bluesky."
      />
      <Card
        href="https://astro.build/chat/"
        title="Jogos"
        body="Vem dar uma olhada nos jogos da Manus Games. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .bugswrapper {
    background-color: #141414;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
